{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Quienes Somos{% endblock %}

{% block content %}
      <!--Container para imagen superior y seccion "sobre la punta del cerro"-->
    <div class="container-fluid">
        <!--el style lo podemos poner después en el style.css con alguna clase nueva-->
        <div class="jumbotron text-center"
                    style="background-image: url(assets/ImagenTrekking_3456x2160.jpg); 
                            background-size: 100%; 
                            background-position-y: -200px;">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Sobre "La punta del Cerro"</h1>
                    <p>Somos un grupo de trabajo para la asignatura "Programación Web"</p>
                </div>

            </div>    
        </div>
    </div>
    <!--fin sección jumbotron-->
    <!--tarjetas sección Quienes somos-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-dark text-center" style="width: 18rem;">
                    <img src="assets/retratos/mati.jpg" alt="hola" class="card-img-top retrato">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Matías Cruz</h5>
                        <p>
                            Estudiante Analista Programador Computacional en DUOC UC
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-dark text-center" style="width: 18rem;">
                    <img src="assets/retratos/seba 1-1.jpg" alt="hola" class="card-img-top retrato">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Sebastián Lopez</h5>
                        <p>
                            Estudiante Analista Programador Computacional en DUOC UC
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-dark text-center" style="width: 18rem;">
                    <img src="assets/retratos/Danko2.jpg" alt="hola" class="card-img-top retrato">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Danko Osorio</h5>
                        <p>
                            Estudiante Analista Programador Computacional en DUOC UC
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}