{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Quienes Somos{% endblock %}

{% block content %}
      <!--Container para imagen superior y seccion "sobre la punta del cerro"-->
    <div class="container-fluid">
        <!--el style lo podemos poner después en el style.css con alguna clase nueva-->
        <div class="jumbotron text-center"
                    style="background-image: url({% static 'core/assets/ImagenTrekking_3456x2160.jpg' %}); 
                            background-size: 100%; 
                            background-position-y: -200px;">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Sobre "La punta del Cerro"</h1>
                    <p>Somos un grupo de trabajo para la asignatura "Programación Web"</p>
                </div>

            </div>    
        </div>
    </div>
    <!--fin sección jumbotron-->
    <!--tarjetas sección Quienes somos-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-dark text-center" style="width: 18rem;">
                    <img src="" id='imagen0' alt="Mati" class="card-img-top retrato">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold" id='nombre0'></h5>
                        <p id='descripcion0'></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-dark text-center" style="width: 18rem;">
                    <img src="" id='imagen1' alt="Seba" class="card-img-top retrato">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold" id='nombre1'></h5>
                        <p id='descripcion1'></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-dark text-center" style="width: 18rem;">
                    <img src="" id='imagen2' alt="Danko" class="card-img-top retrato">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold" id='nombre2'></h5>
                        <p id='descripcion2'></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
        <script src="{% static 'core/js/acerca_deapi.js' %}"></script>
    {% endblock %}
{% endblock %}