{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Contacto{% endblock %}

{% block content %}
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1>¿Tienes consultas?<br>¡Contáctanos!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <!--Tema por el cual quiere contactar-->
                            <div class="form-group">
                                <label for="tema" class="font-weight-bold">¿Sobre qué quieres hablar?</label>
                                <select name="tema" id="tema" class="form-control">
                                    <option value="productos">Nuestros Productos</option>
                                    <option value="resenas">Nuestras Reseñas</option>
                                    <option value="articulos">Nuestros Artículos</option>
                                    <option value="retro">Retroalimentación</option>
                                    <option value="otros">Otros</option>
                                </select>
                            </div>
                            <!--Nombre y apellido en distintos botones en row-->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="nombre" class="font-weight-bold">Nombre:</label>
                                            <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Ej: Zoila" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="apellido" class="font-weight-bold">Apellido:</label>
                                            <input class="form-control" type="text" id="apellido" name="apellido" placeholder="Ej: Cerda" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--eMail-->
                            <div class="form-group">
                              <label for="email" class="font-weight-bold">eMail:</label>
                              <input class="form-control" type="text" name="email" id="email"  placeholder="nombre@sitio.com" required>
                            </div>
                            <!--donde va el mensaje-->
                            <div class="form-group">
                                <label for="mensaje" class="font-weight-bold">Mensaje:</label>
                                <textarea class="form-control" name="mensaje" id="mensaje" rows="5" required></textarea>
                            </div>
                            <!--Boton de enviar-->
                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-success btn-sm" id="enviar" value="Enviar Mensaje">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}