{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}En Construcción!{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3 class="text-weight-bold mt-4">¡En construcción!</h3>
                <p>Paciencia por favor...</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'core/assets/temporal/en_construccion.jpg' %}" alt="">
            </div>
        </div>
    </div>

{% endblock %}