{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Inicio Sesión{% endblock %}

{% block content %}
      <!--Inicio de sesion-->
      <main class=" container mt-4 mb-4 ">
            <div class="row">
                <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title ">Iniciar sesión</h3>
                            </div>
                            <div class="card-body ">
                                <form action="#" method="GET" enctype="text/plain">
                                <div class="form-group ">
                                    <label class="fornt-weight-bold" for="Ingrese email">Ingrese Email</label>
                                    <input class="form-control" type="text" id="Ingrese email" placeholder="correo@correo.com" required>
                                </div>
                                <div class="form-group">
                                    <label class="fornt-weight-bold" for="Ingrese contraseña">Ingrese contraseña</label>
                                    <input class="form-control" type="password" id="password" required>
                                </div>
                                    <a href="en_construccion.html" class="texto-recuperar-clave">Olvidé mi contraseña</a> 
                                <div>
                                    <button type="button" class="btn btn-success">Iniciar!</button>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row ml-3">
                <img src="assets/personasubiendocerrodraw.jpg" alt="personasubiendocerrodraw">
            </div>
        </main>      
      <!--Fin Inicio sesion-->           
       <!--Footer Section -->
       <footer class="footer bg-rojo-oscuro mt-4 py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 mt-4">
                    <h6 class="display-6 header-del-footer">Navegación</h6>                    
                    <nav class="nav flex-column bg-rojo-oscuro">
                        <a class="nav-link active" href="index.html">Inicio</a>
                        <a class="nav-link" href="producto.html">Nuestros Productos</a>
                        <a class="nav-link" href="contacto.html">Contacto</a>
                        <a class="nav-link" href="acerca_de.html">Quiénes Somos?</a>
                    </nav>
                </div>
                <div class="col-sm-12 col-md-3 mt-4 bg-rojo-oscuro">
                    <h6 class="display-6 header-del-footer">Manejo de <br> Cuenta</h6>                    
                    <nav class="nav flex-column">                        
                        <a class="nav-link active" href="registro.html">Crea una Cuenta!</a>
                        <a class="nav-link" href="inicio_sesion.html">Inicia tu sesión</a>
                        </nav>
                </div>
                <div class="col-sm-12 col-md-3 mt-4 bg-rojo-oscuro">
                    <h6 class="display-6 header-del-footer">Páginas <br>Recomendadas</h6>                    
                    <nav class="nav flex-column">                        
                        <a class="nav-link active" href="https://es.wikipedia.org/wiki/Senderismo">¿Qué es Trekking?</a>
                        <a class="nav-link" href="https://www.lonelyplanet.es/blog/los-trekkings-mas-bellos-del-mundo">Mejores senderos <br> de Trekking</a>
                        <a class="nav-link" href="https://www.travelsauro.com/es/consejos-trekking-principiantes/">Consejos para Trekking</a>
                    </nav>
                </div>
                <div class="col-sm-12 col-md-3 text-center mt-4">
                    <img src="assets/IconoBotas500x500.png" alt="LOGO" width="150px" height="150px">
                    <div id="reloj" class="reloj">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    
        <!-- Preacargar JS Boostrap al final del documento -->
    <!-- El orden de carga es jQuery, Popper.js, Boostrap.js -->
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/reloj.js"></script>
    <script src="js/darkmode.js"></script>
</body>
     
</html>