{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Modificar Productos{% endblock %}

{% block content %}
<div class="container">
    <div class="row bg-dark text-white rounded p-5 mt-4 mb-4">
        <h1>Actualización datos productos</h1>
    </div>
    <div class="row">
        <div class="col">
            {% if 'ok' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Oh yeah!!! </strong>Producto registrado satisfactoriamente
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if 'fail' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ups!!! </strong>En estos momentos no podemos atender a tu solicitud... inténtalo más tarde
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <!-- Formulario de contacto --> 
        <div class="formModificar  justify-content-center">
            <form action="" method="POST" id="formulario" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label class="fw-bold">Código Producto *</label>
                    <div class="input-group">
                        {{form.idProducto}}
                    </div>                
                    {{form.idProducto.errors}}
                </div>
                
                <div class="form-group mb-3">
                    <label class="fw-bold">Descripción *</label>
                    <div class="input-group " >
                        {{form.descripcion}}
                    </div>                
                    {{form.descripcion.errors}}
                </div>
                <div class="form-group mb-3">
                    <label class="fw-bold">Precio Unitario $ *</label>
                    <div class="input-group">
                        {{form.precio}}
                    </div>                
                    {{form.precio.errors}}
                </div>
                <div class="form-group mb-3">
                    <label class="fw-bold">Cantidad *</label>
                    <div class="input-group">
                        {{form.cantidad}}
                    </div>                
                    {{form.cantidad.errors}}
                </div>
                <div class="form-group mb-3 justify-content-center">
                    <label class="fw-bold">Imagen</label>
                    <div class="card-img text-center">
                        {{form.imagen}}
                        {% if form.instance.imagen %}
                            <img class="img-producto-update mt-1" src="{{form.instance.imagen.url}}" alt="" width="300" height="300">
                        {% endif %}
                    </div>  
                </div>
                <div class="text-center mt-4">
                    <input type="submit" class="btn btn-primary btn-block py-2" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-danger btn-block py-2" id="limpiar" value="Limpiar">
                </div>
            </form>
        </div>              
        </div>                          
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'core/js/sololectura.js' %}"></script>
{% endblock %}
