{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Producto{% endblock %}

{% block content %}
        <!--Sección JUMBOTRON-->
        <div class="container mt-4">
            <div class="jumbotron text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Lleva el espíritu de viaje donde vayas!</h2>
                        <h6><i>Comprando nuestros productos de aventura</i></h6>
                    </div>
                </div>
            </div>
        </div>
        <!--SECCION CONVERTIDOR DE MONEDAS-->
        <div class="container">
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-5">
                    <div class="card ">
                        <div class="card-header ">
                            <div class="card text-dark text-center">
                                <h3>Consulta Valores del Peso Chileno!</h3>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <input type="tel" class="form-control" id="pesosConvertir" name="pesos" placeholder="Ingresa la cantidad de pesos chilenos $0000" style="text-align: center;">
                            <div class="card mt-2 mb-2">    
                                <button class="btn btn-warning btn-lg active" onclick="cambioDolar()" type="button" aria-pressed="true">DOLAR<span></span></button> 
                            </div>
                            <div class="card">
                                <button class="btn btn-success btn-lg active" onclick="cambioEuro()" type="button" aria-pressed="true">EURO</button>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="card-body">
                                <h4 class="card-text text-center" id="resultado1">
                                </h4>
                                <h4 class="card-text text-center" id="resultado2">
                                </h4>
                                <small class="card-text text-center" id="resultado3">
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  DESECHADO: CONVERTIDOR DE PRECIOS DE LAS TARJETAS
        <div class="container text-center">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-3">
                    <h4>Elija su moneda de preferencia:</h1>
                    <div class="form-group">
                        <select name="moneda" id="moneda" class="form-control">
                            <option value="clp">Peso Chileno</option>
                            <option value="usd">Dolar EEUU</option>
                            <option value="eur">Euro</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!--Sección Producto en Tarjetas-->
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-dark minima-altura-tarjeta" style="width: 18rem;">
                        <div class="card-header minima-altura-tarjeta-header">
                            <img class= "card-img-top max-altura-producto" src="assets/productos/gorraBambu.jpg" alt="gorraBambu" class="card-img-top">
                        </div>
                        <div class="card-body minima-altura-tarjeta-body">
                            <h4 >NUEVO PRODUCTO </h4>
                            <h5 class="card-title">Gorra Bambu</h5>
                            <p class="dinero-y-simbolo">
                                <span class="dinero">10000</span> <span class="simboloDinero">CLP</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary btn-sm">Comprar!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-dark minima-altura-tarjeta" style="width: 18rem;">
                        <div class="card-header minima-altura-tarjeta-header">
                            <img class= "card-img-top max-altura-producto" src="assets/productos/paisajeJapones.jpg" alt="Taza paisajeJapones" class="card-img-top">
                        </div>
                        <div class="card-body minima-altura-tarjeta-body">
                            <h5 class="card-title">Taza paisaje japones</h5>
                            <p class="dinero-y-simbolo">
                                <span class="dinero">7000</span> <span class="simboloDinero">CLP</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary btn-sm">Comprar!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-dark minima-altura-tarjeta" style="width: 18rem;">
                        <div class="card-header minima-altura-tarjeta-header">
                            <img class= "card-img-top max-altura-producto" src="assets/productos/polera.jpg" alt="polera" class="card-img-top " width="500" height="280">
                        </div>
                        <div class="card-body minima-altura-tarjeta-body">
                            <h5 class="card-title">Polera sin mangas</h5>
                            <p class="dinero-y-simbolo">
                                <span class="dinero">15000</span> <span class="simboloDinero">CLP</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary btn-sm">Comprar!</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card border-dark minima-altura-tarjeta" style="width: 18rem;">
                        <div class="card-header minima-altura-tarjeta-header">
                            <img class= "card-img-top max-altura-producto" src="assets/productos/torreeiffek.jpg" alt="tazatorreiffeil" class="card-img-top" height="280" width="500" >
                        </div>
                        <div class="card-body minima-altura-tarjeta-body">
                            <h5 class="card-title">Taza torre Eiffel</h5>
                            <p class="dinero-y-simbolo">
                                 <span class="dinero">7000</span> <span class="simboloDinero">CLP</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary btn-sm">Comprar!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-dark minima-altura-tarjeta" style="width: 18rem;">
                        <div class="card-header minima-altura-tarjeta-header">
                            <img class= "card-img-top max-altura-producto mt-4" src="assets/productos/tazaCiudadnoche.jpg" alt="tazaCiudadnoche" class="card-img-top" height="200" width="400">
                        </div>
                        <div class="card-body minima-altura-tarjeta-body">
                            <h5 class="card-title">Taza Ciudad nocturna</h5>
                            <p class="dinero-y-simbolo">
                                <span class="dinero">7000</span> <span class="simboloDinero">CLP</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary btn-sm">Comprar!</button>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
{% endblock %}