{% extends 'core/plantilla.html' %}

{% load static %}
{% block title %}Registro{% endblock %}

{% block content %}
  <!--FIN  SEPARADOR-->
  <!-- FORMULARIO-->
  <div class="container mt-3">
      <div class="row">
          <div class="col-1 "></div>
          <div class="col md-6">
                                                            <!-- no validate para que se tenga que validar con javascript-->
              <form action="#" method="get" enctype="text/plain" id="formulario" novalidate>
                <div class="card">
                    <div class="card-header bg-secondary text-light mt-3">
                        <h4 class="card-title text-center ">
                            Ingresa tus datos para crear una cuenta
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-2">
                                <label for="nombre">Nombre: </label>
                            </div>
                            <div class="col-10">
                                <input class= "form-control" type="nombre" id="nombre" name="nombre" placeholder="Ingrese su nombre aquí" maxlength="30">                            
                                <small>Mensaje de Error</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label for="apellido">Apellido: </label>
                            </div>
                            <div class="col-10">
                                <input class= "form-control" type="nombre" id="apellido" name="apellido" placeholder="Ingrese su apellido aquí" maxlength="50">                            
                                <small>Mensaje de Error</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label for="usuario">Nombre Usuario: </label>
                            </div>
                            <div class="col-10">
                                <input class= "form-control" type="nombre" id="usuario" name="usuario" placeholder="Ingrese su nombre de usuario aquí" maxlength="50">                            
                                <small>Mensaje de Error</small>
                            </div>
                        </div>
                        <div class="form-group row" >
                            <div class="col-2">
                                <label for="email">Email:</label>
                            </div>
                            <div class="col-10">
                                <input class= "form-control" type="email" id="email" name="email" placeholder="correo@correo.com" maxlength="50"> 
                                <small>Mensaje de Error</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label for="rut">Rut: </label>
                            </div>
                            <div class="col-10">
                                <input class= "form-control" type="rut" id="rut" name="rut" placeholder="123456789-9" maxlength="12"> 
                                <small>Mensaje de Error</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label for="telefono">Teléfono: </label>
                            </div>
                            <div class="col-10">
                                <input class= "form-control" type="tel" id="telefono" name="telefono" placeholder="9 1234 5678" maxlength="18"> 
                                <small style="visibility: visible;">Sin agregar +56</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label class="font-weight-bold" for="fecha_nac">Fecha nacimiento:</label>
                            </div>
                            <div class="col-10">
                                <input class="form-control" type="date" id="fecha_nac" name="fecha_nac" min="1910-12-31" max="2021-12-31">
                                <small>Mensaje de Error</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label for="Password">Ingrese contraseña: </label>
                            </div>
                            <div class="col-10">
                                <input class= "form-control" type="password" id="password" name="password" placeholder="" minlength="8">
                                <small>Mensaje de Error</small> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label for="validate-password">Confirme contraseña: </label>
                            </div>
                            <div class="col-10 sm-4">
                                <input class= "form-control" type="password" id="validate-password" name="validate-password" placeholder="" > 
                                <small>Mensaje de Error</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label for="comentario">¿Qué es lo que más te gusta de viajar?</label>
                            </div>
                            <div class="col-10">
                                <textarea class= "form-control" name="comentario" id="comentario" cols="30" rows="3" maxlength="300"></textarea>
                                <small>Mensaje de Error</small>
                            </div>
                        </div>

                        
                    </div>
                    <div class="card-footer">
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-warning" id="registrar" value="Registrar">
                            <input type="reset" class="btn btn-success" id="cancelar" value="Cancelar">
                        </div>
                    </div>
                </div>
              </form>
          </div>
        <div class="col-1 "></div> 
      </div>
  </div>
  <!-- FIN FORMULARIO-->

{% endblock %}