/* Archivos de estilos personalizados */
.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.card-img-overlay{
    color: indianred;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.espaciado{
    color: #c7756b;
    background-color: #c7756b ;
}

.bg-danger {
    background-color: #c7756b !important;
}