/* Archivos de estilos personalizados */
.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.card-img-overlay{
    color: indianred;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.bg-cafe {
    background-color: #bc3322 !important;
    color: #bc3322;
}
.bg-naranjocafe{
    background-color: #bc5c22;
}