/* Archivos de estilos personalizados */


.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.card-img-overlay{
    color: #fefae0;    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*
A pesar de que dice café, es de color rojo.
Esta clase se usa en el navbar
*/
.bg-navbar {
    background-color: #bc3322 !important;
    color: #bc3322;
}

.bg-rojoananjado{
    background-color:#bc3322;
    color:#bc3322 ;
}

.card {
  background-color: black;
}

.jumbotron {
  background-color: black; 
}
/*
modo
*/
body.darkmode{
    background-color: rgb(32, 32, 44);
    color: white;
}
body {
  color: #ffc107;
}
div.toggle-btn {
    margin:20px;
 }
.toggle-btn label {
    position:relative;
    display:block;
    width:45px;
    height:22px;
    background:rgb(41, 40, 40);
    border-radius:20px;
    transition:all 300ms linear;
}
   
.toggle-btn label:before {
    position:relative;
    content:"";
    width:20px;
    height:20px;
    background:#ddd;
    display:block;
    border-radius:50%;
    top:1px;
    left:1px;
    transition:all 300ms linear;
}
.toggle-btn.red input:checked + label {
    background:orangered;
}
.toggle-btn input:checked + label {
    background:#b1b2b3;
}
.toggle-btn input:checked + label:before {
    left:25px;
}
   
.toggle-btn input {
    display:none;
  }
/*clase para el color del footer*/
.bg-rojo-oscuro{
    background-color: rgb(107, 9, 9);
}

/*clase para los títulos de las tarjetas en el footer*/
.header-del-footer{
    color:white;
}

/*El ícono bootstrap no funcionaba así que 
descargué un ícono para el toggle del navbar*/
.navbar-toggler-icon {
    background-image: url(../assets/iconos/navbar_toggle_icon.png);
}

/*clase para los retratos en acerca_de*/
.retrato{
    border-radius: 95%;
}

.form-group small {
    visibility: hidden;
}

.error small{
    color: red;
    visibility: visible;
}

/*usado para cambiar el tag small para que muestre que está correcto en registro.html*/
.correcto small {
    color: green;
    visibility: visible;
}

/*clases usadas en producto.html para estandarizar tamaños de las tarjetas*/
.max-altura-producto {
    max-height: 286px;
}

.minima-altura-tarjeta {
    min-height: 500px;
}

.minima-altura-tarjeta-header {
    min-height: 320px;
    background-color: white;
}

.minima-altura-tarjeta-body {
    min-height: 180px;
}

.img-producto {
    width: 50px;
    height: 50px;
}

.img-post {
    width: 50px;
    height: 500px;
    
}

.titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}